<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title> LUSAKA + Contacts + DataBooks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="/rusangu.js"></script>
</head>

<body>
    <br>
    <h1 style="text-align: center; color: blue;">CONTACT BOOK APP CONSOLE DETAILS</h1>
    <table id="banklist" class="display">
        <thead>
            <tr>
                <th>No.</th>
                <th>Full-Name</th>
                <th>Mobile-no.</th>
                <th>Office-no.</th>
                <th>Stars-no.</th>
                <th>Status</th>
                <th>Record-Date</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>No.</th>
                <th>Full-Name</th>
                <th>Mobile-no.</th>
                <th>Office-no.</th>
                <th>Stars-no.</th>
                <th>Status</th>
                <th>Date-Recorded</th>
            </tr>
        </tfoot>
    </table>
</body>

</html>