<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>CommerzBank</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="/rusanguTable.js"></script>
</head>

<body>
	<h1>RUSANGU UNIVERSITY COMPUTER DEPARTMENT EMPLOYEES</h1>
	<table id="bank1" class="display">
      
       <!-- Header Table -->
       <thead>
            <tr>
                <th>No.</th>
				<th>Name</th>
                <th>Department</th>
                <th>Position</th>
                <th>Salary</th>
                <th>Status</th>
                <th>Registration Date</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>No.</th>
				<th>Name</th>
                <th>Department</th>
                <th>Position</th>
                <th>Salary</th>
                <th>Status</th>
                <th>Registration Date</th>
            </tr>
        </tfoot>
    </table>
    
</body>
</html>